*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:#faf8f4;

min-height:100vh;

font-family:'Montserrat',sans-serif;

color:#222;

}



.container{

max-width:1000px;

margin:auto;

padding:50px 30px;

text-align:center;

}



h1{

font-family:'Cormorant Garamond',serif;

font-size:55px;

font-weight:500;

margin-bottom:20px;

}



.subtitle{

color:#777;

margin-bottom:50px;

}



#qualities{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:20px;

}



.quality-button{

height:80px;

border:1px solid #b08d57;

background:white;

border-radius:50%;

font-size:18px;

cursor:pointer;

transition:.3s;

color:#b08d57;

}



.quality-button:hover{

transform:translateY(-5px);

background:#b08d57;

color:white;

}



.special{

background:#b08d57;

color:white;

}



#modal{

position:fixed;

inset:0;

background:rgba(0,0,0,.35);

display:flex;

align-items:center;

justify-content:center;

}



.hidden{

display:none!important;

}



.card{

background:#fff;

width:90%;

max-width:500px;

padding:50px;

border-radius:20px;

position:relative;

}



.card h2{

font-family:'Cormorant Garamond',serif;

font-size:45px;

color:#b08d57;

margin-bottom:25px;

}



.card p{

line-height:1.8;

font-size:17px;

}



#close{

position:absolute;

right:20px;

top:15px;

border:none;

background:none;

font-size:30px;

cursor:pointer;

}




@media(max-width:700px){

#qualities{

grid-template-columns:repeat(3,1fr);

}


h1{

font-size:40px;

}

}
