*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    background:#faf8f4;

    color:#222;

    font-family:'Montserrat', sans-serif;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}



/* CONTAINER PRINCIPAL */

.container{

    width:100%;

    max-width:1000px;

    text-align:center;

    padding:40px;

}



/* TITULO */

h1{

    font-family:'Cormorant Garamond', serif;

    font-size:64px;

    font-weight:500;

    margin-bottom:45px;

    color:#222;

}



/* MAPA */

.map-container{

    position:relative;

    width:850px;

    max-width:90vw;

    margin:0 auto 40px;

}



.world-map{

    width:100%;

    display:block;

    opacity:0.55;

}



/* PONTOS DOS PAÍSES */

.location{

    position:absolute;

    font-size:35px;

}



.brazil{

    left:27%;

    top:59%;

}



.australia{

    right:13%;

    top:69%;

}



/* LINHA DA ROTA */

.route-line{

    position:absolute;

    left:30%;

    top:60%;

    width:45%;

    border-top:2px dashed #b08d57;

    transform:rotate(-12deg);

}



/* AVIÃO */

.plane{

    position:absolute;

    width:50px;

    left:30%;

    top:53%;

    animation:fly 8s linear infinite;

}



/* MOVIMENTO DO AVIÃO */

@keyframes fly{


    from{

        left:30%;

    }


    to{

        left:72%;

    }

}



/* CONTADOR */

#countdown{

    display:flex;

    justify-content:center;

    gap:45px;

    margin-top:45px;

}



#countdown div{

    display:flex;

    flex-direction:column;

    align-items:center;

}



#countdown strong{

    font-family:'Cormorant Garamond', serif;

    font-size:75px;

    font-weight:400;

    line-height:1;

    color:#222;

}



#countdown span{

    margin-top:10px;

    font-size:12px;

    text-transform:uppercase;

    letter-spacing:3px;

    color:#777;

}



/* DATA */

.date{

    margin-top:40px;

    font-size:16px;

    color:#777;

}



/* FINAL */

#finalMessage{

    display:none;

    margin-top:50px;

    font-family:'Cormorant Garamond', serif;

    font-size:75px;

    color:#b08d57;

}



/* CELULAR */

@media(max-width:700px){


    .container{

        padding:20px;

    }



    h1{

        font-size:45px;

        margin-bottom:30px;

    }



    .map-container{

        width:100%;

    }



    .location{

        font-size:25px;

    }



    .plane{

        width:35px;

    }



    #countdown{

        gap:15px;

    }



    #countdown strong{

        font-size:45px;

    }


}
