*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

background:#faf8f4;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

color:#222;

font-family:'Montserrat',sans-serif;

}



.container{

width:100%;

max-width:950px;

padding:40px;

text-align:center;

}



h1{

font-family:'Cormorant Garamond',serif;

font-size:65px;

font-weight:500;

margin-bottom:70px;

}



.journey{

display:flex;

align-items:center;

justify-content:center;

gap:30px;

}



.country{

display:flex;

flex-direction:column;

align-items:center;

}



.country span{

font-size:42px;

}



.country p{

margin-top:12px;

font-size:15px;

letter-spacing:2px;

color:#555;

}



/* LINHA DA VIAGEM */

.route{

position:relative;

width:320px;

height:50px;

}



.line{

position:absolute;

width:100%;

top:50%;

border-top:1.5px dashed #b08d57;

}



/* PONTO DOURADO */

.gold-dot{

position:absolute;

top:calc(50% - 6px);

left:0;

width:12px;

height:12px;

background:#b08d57;

border-radius:50%;

box-shadow:0 0 12px rgba(176,141,87,.5);

animation:travel 7s ease-in-out infinite;

}



@keyframes travel{


0%{

left:0;

}



50%{

left:50%;

}



100%{

left:calc(100% - 12px);

}


}



/* CONTADOR */


#countdown{

display:flex;

justify-content:center;

gap:45px;

margin-top:90px;

}



#countdown div{

display:flex;

flex-direction:column;

}



#countdown strong{

font-family:'Cormorant Garamond',serif;

font-size:75px;

font-weight:400;

line-height:1;

}



#countdown span{

font-size:12px;

text-transform:uppercase;

letter-spacing:3px;

color:#777;

margin-top:10px;

}



/* DATA */


.date{

margin-top:45px;

font-size:16px;

color:#777;

}



/* FINAL */


#finalMessage{

display:none;

margin-top:50px;

font-family:'Cormorant Garamond',serif;

font-size:75px;

color:#b08d57;

}



/* MOBILE */


@media(max-width:700px){


.container{

padding:20px;

}


h1{

font-size:45px;

}



.journey{

gap:10px;

}



.route{

width:130px;

}



.country span{

font-size:30px;

}



#countdown{

gap:15px;

}



#countdown strong{

font-size:45px;

}


}
